

.main {
    
}

.container {
    
}

.itemContainer {
    
}

.item{
    
}

.item-1{
    background-color: antiquewhite;
}

.item-2{
 background-color: rgb(243, 245, 175);
}

.item-3 {
    background-color: rgb(196, 244, 159);
}

.item-4 {
    background-color: rgb(126, 225, 202);
}

.item-5 {
    background-color: aqua;
}

.item-6 {
    background-color: rgb(196, 205, 255);
}
