.container {
    height: 1050px;
    width: 500px;
    display: flex;
    /* align-items: stretch; */
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: self-end;
    align-items: self-start;
    gap: 0px;
}

.container {
    align-items: center;
    justify-content: center;
}

/* .about {
    align-self: flex-start;
} */

.home {
    align-self: flex-end;
}

.container {
    align-items: flex-end;
    justify-content: flex-end;
}

.container > div {
    flex: 1;
}