* {
    font-size: 20px;
}

span {
    border: 3px solid royalblue;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    height: 50px;
    display: block;
    /* display: inline-block; */
}

h1 {
    border: 3px solid royalblue;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    height: 100px; 
    display: inline; 
}

#box {
    border: 3px solid royalblue;
    height: 100px;
    width: 100px;
    margin: 3px;
    border-radius: 4px;
    display: inline-block;
}