.main{
    border: 1px solid indianred;
    background-color: bisque;
    height: 100px;
    width: 100px;
    padding-left: 10px;

    margin-left: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-bottom: -30px;
}

.main2{
    border: 1px solid goldenrod;
    background-color: aquamarine;
    height: 100px;
    width: 100px;

    margin-left: 20px;
}

img{
    margin-top: 10px;
    height: 200px;
    width: 150px;
    border: 1px ;
    border-radius: 100px;
}

.main4{
    margin-top: -80px;
    margin-left: 20px;
}