body {
    height: 100vh;
}

.container {
    height: 80%;
    width: 80%;
    border: 5px dashed royalblue;
    border-radius: 10px;
    padding: 10px;
    background-image: url("https://images.unsplash.com/photo-1528183429752-a97d0bf99b5a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: bottom 25%  left 50%;
    background-clip: content-box;
}